name: Offline Depends

on:
  push

env:
  htvend_img: ghcr.io/continusec/htvend:1.5
  build_cmd: build-img-with-proxy -f Dockerfile.offlinebuild
  htvend_bucket: htvend-demo-001
  htvend_prefix: blobs/

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout latest source
      uses: actions/checkout@v5

    - name: Restore htvend tool from cache
      id: htvend-tool-cache
      uses: actions/cache@v4
      with:
        path: ${{ runner.temp }}/htvend-image
        key: ${{ env.htvend_img }}-${{ runner.os }}-${{ runner.arch }}

    - name: Fetch htvend image
      if: steps.htvend-tool-cache.outputs.cache-hit != 'true'
      run: |
        mkdir -p ${{ runner.temp }}/htvend-image
        docker pull "${{ env.htvend_img }}"
        docker save -o ${{ runner.temp }}/htvend-image/img.tar "${{ env.htvend_img }}"

    - name: Load htvend tool into docker
      if: steps.htvend-tool-cache.outputs.cache-hit == 'true'
      run: docker load -i ${{ runner.temp }}/htvend-image/img.tar

    - name: Restore offline depends assets from cache
      id: htvend-blobs-cache
      uses: actions/cache@v4
      with:
        path: ${{ runner.temp }}/blobs
        key: blobs-${{ hashFiles('assets.json') }}

    - name: Fetch offline depends assets from S3
      if: steps.htvend-blobs-cache.outputs.cache-hit != 'true'
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: ${{ vars.AWS_REGION }}
      run: |
        [[ -f "$PWD/assets.json" ]] || echo "{}" > "$PWD/assets.json"
        mkdir -p "${{ runner.temp }}/blobs"
        docker run \
          -e AWS_ACCESS_KEY_ID \
          -e AWS_SECRET_ACCESS_KEY \
          -e AWS_REGION \
          -v "$PWD:/src" \
          -v "${{ runner.temp }}/blobs:/blobs" \
          --rm ${{ env.htvend_img }} \
            -C /src export \
              --blobs-backend=s3 \
              --blobs-bucket="${{ env.htvend_bucket }}" \
              --blobs-prefix="${{ env.htvend_prefix }}" \
              --dest.blobs-dir=/blobs
        sudo chown -R $USER "${{ runner.temp }}/blobs"

    - name: Build in offline mode
      id: offline_first_attempt
      continue-on-error: true # we will attempt with internet if this fails the first time without and we identify a missing asset
      run: |
        touch "${GITHUB_OUTPUT}" && docker run \
          -v "$PWD:/src" \
          -v "$GITHUB_OUTPUT:/metrics" \
          -v "${{ runner.temp }}/blobs:/blobs" \
          --network=none \
          --rm --privileged ${{ env.htvend_img }} \
            --github-output-path /metrics \
            -C "/src" offline \
              --blobs-dir=/blobs \
              -- \
                ${{ env.build_cmd }} || (cat $GITHUB_OUTPUT && exit 1)

    - name: Check for non-dependency related build failure
      if: "${{ steps.offline_first_attempt.outcome != 'success' && (steps.offline_first_attempt.outputs.htvend_missing_asset_total == '0' || steps.offline_first_attempt.outputs.htvend_missing_asset_total == '') }}"
      run: exit 1 # unexpected failure which is likley unrelated to missing assets

    - name: Rebuild allowing internet access
      id: rebuild_with_internet
      if: "${{ steps.offline_first_attempt.outcome == 'failure' }}"
      run: |
        docker run \
          -v "$PWD:/src" \
          -v "${{ runner.temp }}/blobs:/blobs" \
          --network=host \
          --rm --privileged ${{ env.htvend_img }} \
            -C /src build \
              --blobs-dir=/blobs \
              -- \
                ${{ env.build_cmd }}
        sudo chown -R $USER "${{ runner.temp }}/blobs"

    - name: Send assets to S3
      if: "${{ steps.rebuild_with_internet.outcome == 'success' }}"
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: ${{ vars.AWS_REGION }}
      run: |
        docker run \
          -e AWS_ACCESS_KEY_ID \
          -e AWS_SECRET_ACCESS_KEY \
          -e AWS_REGION \
          -v "$PWD:$PWD" \
          -v "${{ runner.temp }}/blobs:/blobs" \
          --rm ${{ env.htvend_img }} \
            -C "$PWD" export \
              --blobs-dir=/blobs \
              --dest.blobs-backend=s3 \
              --dest.blobs-bucket="${{ env.htvend_bucket }}" \
              --dest.blobs-prefix="${{ env.htvend_prefix }}"

    - name: Commit any changes to assets.json
      if: "${{ steps.rebuild_with_internet.outcome == 'success' }}"
      run: |
        git add ./assets.json &&
        git diff --exit-code --staged ./assets.json >/dev/null || (
          git config --global user.email "${{ env.commit_email }}" &&
          git config --global user.name "${{ env.commit_name }}" &&
          git commit -m"${{ env.commit_message }}" &&
          git push
        )
      
    - name: Retry build in offline mode with new assets.json
      if: "${{ steps.rebuild_with_internet.outcome == 'success' }}"
      run: |
        docker run \
          -v "$PWD:/src" \
          -v "${{ runner.temp }}/blobs:/blobs" \
          --network=none \
          --rm --privileged ${{ env.htvend_img }} \
            -C "/src" offline \
              --blobs-dir=/blobs \
              -- \
                ${{ env.build_cmd }}
